/* styles.css */
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.item {
    background-color: #f4f4f4;
    padding: 1rem;
    text-align: center;
}
.item:hover{
    background-color: grey;
    bottom: auto;
    transition: 0.4s;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}
/* Form Container*/

h1{
    text-align: center;
}
.form_container{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 60px;
}

form{
    /* border: #333 1px solid; */
    width: 60%;
    margin: auto;
    border-style: inset;
    padding: 10px 15px;
}

.recipe-actions {
    text-align: center;
    margin: 20px auto;
}

.recipe-actions button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .recipe-actions button {
        width: 100%;
        margin: 10px 0;
    }
}